<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>

        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-dark btn-block"
                                data-bs-toggle="modal" data-bs-target="#agregarComponente">
                            <i class="fas fa-plus"></i> Agregar Componente
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal para agregar -->
        <section th:fragment="agregarComponente">
            <div id="agregarComponente" class="modal fade" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar Componente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/componentes/guardar}" th:object="${componentes}" method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" th:field="*{nombre}" class="form-control" required />
                                </div> 
                                <div class="mb-3">
                                    <label for="estado">Estado</label>
                                    <input type="text" th:field="*{estado}" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="fechaInstalacion">Fecha Instalación</label>
                                    <input type="date" th:field="*{fechaInstalacion}" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label for="equipo">Equipo:</label>
                                    <select th:field="*{equipo.idEquipo}" class="form-control" required>
                                        <option value="">-- Seleccione un Centro --</option>   
                                        <option th:each="equipo : ${equipos}" 
                                                th:value="${equipo.idEquipo}" 
                                                th:text="${equipo.nombre}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Listado -->
        <section th:fragment="listadoComponentes" id="Componentes">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de Componentes</h4>
                            </div>
                            <div th:if="${componentesList != null and !componentesList.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>Fecha Instalación</th>
                                            <th>Equipo</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="componente, contador : ${componentesList}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${componente.nombre}]]</td>
                                            <td>[[${componente.estado}]]</td>
                                            <td th:text="${#dates.format(componente.fechaInstalacion, 'dd/MM/yyyy')}"></td>
                                            <td>[[${componente.equipo.nombre}]]</td>
                                            <td>
                                                <a th:href="@{/componentes/modificar/{id}(id=${componente.idComponente})}" class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar
                                                </a>
                                                <a th:href="@{/componentes/eliminar/{id}(id=${componente.idComponente})}" class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${componentesList == null or componentesList.empty}">
                                <span>Lista Vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total de componentes</h3>
                                <h4 class="fs-2"><i class="fas fa-tools"></i> [[${totalComponentes}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="editarComponente">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST" th:action="@{/componentes/guardar}" th:object="${componetes}" class="was-validated">
                        <input type="hidden" th:field="*{idComponente}" />

                        <!-- Botones en fragmento -->
                        <section th:replace="~{componentes/fragmentos :: botonesEditar}" />

                        <!-- Formulario principal -->
                        <div class="card mt-3">
                            <div class="card-header">
                                <h4 th:text="${componetes.idComponente != null} ? 'Editar Componente' : 'Nuevo Componente'"></h4>
                            </div>
                            <div class="card-body modal-body">
                                <div class="mb-3">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" th:field="*{nombre}" class="form-control" required />
                                </div>

                                <div class="mb-3">
                                    <label for="estado">Estado</label>
                                    <input type="text" th:field="*{estado}" class="form-control" />
                                </div>

                                <div class="mb-3">
                                    <label for="fechaInstalacion">Fecha Instalación</label>
                                    <input type="date" th:field="*{fechaInstalacion}" class="form-control" />
                                </div>

                                <div class="mb-3">
                                    <label for="equipo">Equipo:</label>
                                    <select th:field="*{equipo.idEquipo}" class="form-control" required>
                                        <option value="">-- Seleccione un Centro --</option>
                                        <option th:each="equipo : ${equipos}"
                                                th:value="${equipo.idEquipo}"
                                                th:text="${equipo.nombre}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/componentes/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <a th:if="${componetes.idComponente != null}"
                           th:href="@{/componentes/eliminar/{id}(id=${componetes.idComponente})}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
