<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Equipos Medicos</title>
    </head>
    <body style="padding-top: 90px;">
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section th:replace="~{alertaMantenimiento/fragmentos :: botonesAgregar}"></section> 
        <section th:replace="~{alertaMantenimiento/fragmentos :: agregarAlertaMantenimiento}"></section>

        <section th:replace="~{alertaMantenimiento/fragmentos :: listadoAlertaMantenimiento}"></section>
        <footer th:replace="~{layout/plantilla :: footer}" class="bg-light py-3 mt-auto"></footer>

    </body>
</html>