<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/plantilla :: head}">
    <title>TechShop</title>
</head>
<body>

    <!-- 1. Botón Agregar Prioridad -->
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-dark btn-block"
                            data-bs-toggle="modal" data-bs-target="#agregarPrioridad">
                        <i class="fas fa-plus"></i> Agregar Prioridad
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- 2. Modal Agregar Prioridad -->
    <section th:fragment="agregarPrioridad">
        <div id="agregarPrioridad" class="modal fade" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">Agregar Prioridad</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form th:action="@{/prioridad/guardar}" th:object="${prioridad}"
                          method="POST" class="was-validated" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="descripcion">Nombre</label>
                                <input type="text" th:field="*{descripcion}" class="form-control" required />
                            </div> 
                            <div class="mb-3">
                                <label for="tiempoRespuestaEstimada">tiempoRespuestaEstimada</label>
                                <input type="number" th:field="*{tiempoRespuestaEstimada}" class="form-control" required />
                            </div>
                        
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- 3. Listado de prioridad -->
    <section th:fragment="listadoprioridad" id="prioridades">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>Listado de prioridades</h4>
                        </div>
                        <div th:if="${prioridades != null and !prioridades.empty}">
                            <table class="table table-striped table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>descripcion</th>
                                        <th>tiempoRespuestaEstimada</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="prioridad, contador : ${prioridades}">
                                        <td>[[${contador.count}]]</td>
                                        <td>[[${prioridad.Descripcion}]]</td>
                                        <td>[[${prioridad.TiempoRespuestaEstimada}]]</td>
                                        <td>
                                            <a th:href="@{/prioridad/modificar/}+${prioridad.idPrioridad}" class="btn btn-success">
                                                <i class="fas fa-pencil"></i> Actualizar
                                            </a>
                                            <a th:href="@{/prioridad/eliminar/}+${prioridad.idPrioridad}" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Eliminar
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center p-2" th:if="${prioridad == null or prioridades.empty}">
                            <span>Lista Vacia</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3>Total de prioridades</h3>
                            <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalPrioridades}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 4. Formulario Editar prioridad -->
    <section th:fragment="editarPrioridad">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form method="POST" th:action="@{/prioridad/guardar}" th:object="${prioridad}"
                      class="was-validated" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{idPrioridad}" />
                    <section th:replace="~{prioridad/fragmentos :: botonesEditar}" />
                    <div class="card mt-3">
                        <div class="card-header">
                            <h4>Actualizar</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="descripcion">descripcion</label>
                                <input type="text" th:field="*{descripcion}" class="form-control" required />
                            </div>
                            <div class="mb-3">
                                <label for="tiempoRespuestaEstimada">tiempoRespuestaEstimada</label>
                                <input type="number" th:field="*{tiempoRespuestaEstimada}" class="form-control" required />
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- 5. Botones Editar -->
    <section th:fragment="botonesEditar">
        <div class="container py-4 mb-4 bg-light">
            <div class="row">
                <div class="col-md-4 d-grid">
                    <a th:href="@{/prioridad/listado}" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <a th:href="@{/prioridad/eliminar/}+${prioridad.idPrioridad}" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </div>
                <div class="col-md-4 d-grid">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i> Guardar
                    </button>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
